@model IEnumerable<Web_thuc_tap_chuyen_de_1.Models.Cart>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="list-custom-container">
    <h2>Danh sách giỏ hàng</h2>

    <p>
        @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn-create" })
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tong)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.KhachHang.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sach.TenSach)
            </th>
            <th>Chức năng</th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @if (!string.IsNullOrEmpty(item.Img))
            {
                <img src="@Url.Content("~/Img/" + item.Img)" alt="Image" style="width: 100px; height: auto;" /> }
            else
            {
                <span>No Image</span>}
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGia)
        </td>
        <td>
            @String.Format("{0:N0} VNĐ", item.SoLuong * item.DonGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sach.TenSach)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
        </td>
    </tr>
        }

    </table>
    </div>