@{
    ViewBag.Title = "Home Page";
}
@model Web_thuc_tap_chuyen_de_1.Controllers.HomeController.HomeViewModel
<!-- Menu -->
<div class="container">
    <div class="row">

        <div class="menu">
            <div class="d-list">
                <div class="item">
                    <article class="item_menu">
                        <a class="item_menu_span" href="#" title="KHÔNG CẦN PHẢI LÀ NHÀ KINH TẾ HỌC MỚI ĐỌC ĐƯỢC ECONOMIX">
                            <img src="~/Img/menu1.jpg" alt="KHÔNG CẦN PHẢI LÀ NHÀ KINH TẾ HỌC MỚI ĐỌC ĐƯỢC ECONOMIX">
                        </a>
                        <div class="content_blog_item">
                            <h3><a href="#" class="a-title">KHÔNG CẦN PHẢI LÀ NHÀ KINH TẾ HỌC MỚI ĐỌC ĐƯỢC ECONOMIX</a></h3>
                            <span>Thứ Năm, 16/05/2024</span>
                        </div>
                    </article>
                </div>

                <div class="item">
                    <article class="item_menu">
                        <a class="item_menu_span" href="#" title="“BẮT TRẺ ĐỒNG XANH” KHÔNG PHẢI “CÚ HIT” ĐẦU TIÊN CỦA SALINGER">
                            <img width="196" height="125" src="~/Img/menu2.jpg" alt="“BẮT TRẺ ĐỒNG XANH” KHÔNG PHẢI “CÚ HIT” ĐẦU TIÊN CỦA SALINGER" class="lazyload img-responsive">
                        </a>
                        <div class="content_blog_item">
                            <h3><a href="#" class="a-title">“BẮT TRẺ ĐỒNG XANH” KHÔNG PHẢI “CÚ HIT” ĐẦU TIÊN CỦA SALINGER</a></h3>
                            <span>Thứ Năm, 16/05/2024</span>
                        </div>
                    </article>
                </div>
                <div class="item">
                    <article class="item_menu">
                        <a class="item_menu_span" href="#" title="Tên của đoá hồng: Kho tàng kiến thức về triết học, lý luận, tôn giáo, lịch sử ẩn sau một cốt truyện trinh thám đầy thách thức">
                            <img width="196" height="125" src="~/Img/menu3.jpg" alt="Tên của đoá hồng: Kho tàng kiến thức về triết học, lý luận, tôn giáo, lịch sử ẩn sau một cốt truyện trinh thám đầy thách thức" class="lazyload img-responsive">
                        </a>
                        <div class="content_blog_item">
                            <h3><a href="#" class="a-title">Tên của đoá hồng: Kho tàng kiến thức về triết học, lý luận, tôn giáo, lịch sử ẩn sau một cốt truyện trinh thám đầy thách thức</a></h3>
                            <span>Thứ Bảy, 04/05/2024</span>
                        </div>
                    </article>
                </div>
                <div class="item">
                    <article class="item_menu">
                        <a class="item_menu_span" href="#" title="5 bí quyết dưỡng ẩm đắt giá - Chăm sóc da hiệu quả ngay trong mùa đông">
                            <img width="196" height="125" src="~/Img/menu4.jpg" alt="5 bí quyết dưỡng ẩm đắt giá - Chăm sóc da hiệu quả ngay trong mùa đông" class="lazyload img-responsive">
                        </a>
                        <div class="content_blog_item">
                            <h3><a href="#" class="a-title">5 bí quyết dưỡng ẩm đắt giá - Chăm sóc da hiệu quả ngay trong mùa đông</a></h3>
                            <span>Thứ Hai, 20/11/2023</span>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <!--Slide -->

        <div class="swiper-container">
            <div class="swiper-wrapper">
                @foreach (var slide in Model.Slides)
                {
                    <div class="swiper-slide">
                        <article class="item_slide">
                            <a class="item_slide_span" href="" title="@slide.Title">
                                <img src="~/Img/@slide.Img" alt="@slide.Title">
                            </a>
                            <div class="content_blog_slide">
                                <h3><a href="" class="a-title">@slide.Title</a></h3>
                            </div>
                        </article>
                    </div>
                }

            </div>
        </div>
    </div>
    </div>

<div class="book-new">
    <div class="title-modul">
        <p>Sách  </p>
    </div>
    <div class="book-container">
        @foreach (var book in Model.Books)
        {
            <div class="book-card">
                <a href="@Url.Action("BookDetail", "Home", new { id = book.MaSach })" style="text-decoration: none; color: inherit;">
                    <img src="@Url.Content("~/Img/" + book.Img)" alt="@book.TenSach" />

                    <div class="buy-button">
                        <i class="fa-solid fa-bag-shopping"></i>
                        <button class="btn-buy">Buy Now</button>
                    </div>
                    <div class="book-details">
                        <h3 class="book-title">@book.TenSach</h3>
                        <p class="book-price">@String.Format("{0:N0} VNĐ", book.DonGia)</p>
                    </div>
                </a>
            </div>
        }
    </div>


</div>

