@model IEnumerable<Web_thuc_tap_chuyen_de_1.Models.Sach>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="list-custom-container">
    <h2>Danh sách sản phẩm</h2>

    <p>
        @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn-create" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaSach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TacGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DanhMucSach.TenDanhMuc)
            </th>
            <th>Chức năng</th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaSach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenSach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGia)
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.Img))
            {
        <img src="@Url.Content("~/Img/" + item.Img)" alt="Image" style="width: 100px; height: auto;" /> }
                        else
                        {
        <span>No Image</span>}
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TacGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DanhMucSach.TenDanhMuc)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id = item.MaSach }) |
            @Html.ActionLink("Chi tiết", "Details", new { id = item.MaSach }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.MaSach })
        </td>
    </tr>
        }

    </table>
</div>