<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Css/Main.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header class="header">
        <div class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <div class="brand">
            <a href="@Url.Action("Index", "Home")" class="brandName">
                <img src="~/Img/logo.png" alt="Home" class="img-brand" />
            </a>
        </div>
        <div class="search input-group">
            <input class="btn-finds form-control" type="text" placeholder="Search...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
            </span>
        </div>
        @if (Session["FullName"] != null)
        {
            <div class="user-info">
                <a class=" btn-cart" href="@Url.Action("Cart", "Home")">
                    <i class="fas fa-shopping-cart"></i> <span>Giỏ hàng</span>
                </a>
                <a href="@Url.Action("CustomDetail","Home",new { id = (int)Session["idUser"] })" class="btn-detail"> Xin chào, @Session["FullName"].ToString()</a>
                <a href="@Url.Action("Logout", "Home")" class=" btn-warning">Đăng xuất</a>
            </div>
        }
        else
        {
            <div class="buttons">

                @Html.ActionLink("Đăng ký", "Register", "Home", new { @class = "btn-reg" })
                @Html.ActionLink("Đăng nhập", "Login", "Home", new { @class = "btn-log" })
            </div>
        }

    </header>

    @RenderBody()
    <hr />
    <footer>
        <div class="footer d-flex">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-12 first-col">
                        <a href="/">
                            <img src="~/Img/logo.png" class="img-brand-footer" alt="Sách">
                            <span>Nâng cao tri thức của bạn</span>
                        </a>
                        <ul>
                            <li>
                                <i class="fa-solid fa-location-dot footer-icon"></i>
                                <a href="mailto: kienlee14@gmail.com">kienlee14@gmail.com</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-envelope footer-icon"></i>
                                <a class="phone" href="tel: 0913088169">
                                    0913088169
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-12">
                        <h4 class="title-menu fh4">
                            <span>
                                Giới thiệu
                            </span>
                        </h4>
                        <ul class="list-menu">
                            <li class="li_menu"><a href="" title="Về Nhã Nam">Về Sách</a></li>
                            <li class="li_menu"><a href="" title="Hệ thống hiệu sách">Hệ thống hiệu sách</a></li>
                            <li class="li_menu"><a href=" " title="Hệ thống phát hành">Hệ thống phát hành</a></li>
                            <li class="li_menu"><a href=" " title="Tuyển dụng">Tuyển dụng</a></li>
                            <li class="li_menu"><a href=" " title="Liên hệ với chúng tôi">Liên hệ với chúng tôi</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12">
                        <h4 class="title-menu fh4">
                            <span>
                                CHÍNH SÁCH <i class="fa fa-plus hidden" aria-hidden="true"></i>
                            </span>
                        </h4>
                        <ul class="list-menu">
                            <li class="li_menu"><a href=" " title="Chính sách bảo mật">Chính sách bảo mật</a></li>
                            <li class="li_menu"><a href=" " title="Chính sách đổi trả/hoàn tiền">Chính sách đổi trả/hoàn tiền</a></li>
                            <li class="li_menu"><a href=" " title="Chính sách thanh toán/ vận chuyển">Chính sách thanh toán/ vận chuyển</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-12 col-12">
                        <h4 class="title-menu faild fh4">
                            <span>
                                Phương thức thanh toán
                            </span>
                        </h4>
                        <div class="payment">
                            <img src="//bizweb.dktcdn.net/100/363/455/themes/918830/assets/payment_method.png?1724988401192" data-src="//bizweb.dktcdn.net/100/363/455/themes/918830/assets/payment_method.png?1724988401192" class="lazyload loaded" alt="Phương thức thanh toán" data-was-processed="true">
                        </div>
                        <div class="payment" style="margin-top:20px;">
                            <a href="http://online.gov.vn/Home/WebDetails/2504" title="Xác nhận bộ công thương">
                                <img src="//bizweb.dktcdn.net/100/363/455/themes/918830/assets/bocongthuong.png?1724988401192" data-src="//bizweb.dktcdn.net/100/363/455/themes/918830/assets/bocongthuong.png?1724988401192" class="lazyload loaded" alt="Đã đăng ký bộ công thương" data-was-processed="true">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
